@import '../../../assets/style/mixin.scss';
@import '../../../assets/style/variables.scss';

.productsContainer{
    @include flex(column,center,center);
    width: 100%;
    padding-top: 32px;
    order: 3;
    .container{
        width: $container-mobile;
        .products{
            padding: 32px 0 52px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 17px;
            row-gap: 24px;
        }
    }
    @media screen and (min-width: $ipad){
        padding-top: 57px;
        .container{
            width: 100%;
            .products{
                padding: 32px 0 0px 0;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
    @media screen and (min-width: $desktop){
    }
}