@import '../../../assets/style/mixin.scss';
@import '../../../assets/style/variables.scss';


.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    @include flex(column,center,flex-end);
    .modalDialog {
        position: fixed;
        visibility:hidden;
        top: 0;
        width: 75%;
        left: 0%;
        @include flex(column,flex-start,flex-end);
        height: 100vh;
        z-index: 10002;
        background-color: $white-general;
        .modalContent {
            padding: 24px;
            position: relative;
            width: 100%;
            max-height: 80vh;
            overflow-y: auto;
            .modalBox{
                @include flex(column,center,center,12px);
                .modalTitle {
                    @include flex(column,center,center);
                    img{
                        width: 80px;
                        height: 80px;
                    }
                    h3{
                        padding: 16px 0px 12px 0;
                        @include font(18px,600,140%,-0.2px);
                        text-align: center;
                    }
                    p{
                        @include font(14px,400,160%);
                        color:  $grey-01;
                        text-align: center;
                        padding-bottom: 32px;
                    }
                }
                .modalButton {
                    width: 100%;
                    .button{
                        height: 48px;
                        width: 100%;
                        border: 1px solid $dark-green-01;
                        border-radius: 8px;
                        cursor: pointer;
                        padding: 11px 10px;
                        text-align: center;
                        @include font(14px,600,140%,-0.2px);
                    }
                    &:nth-child(1){
                        .button{
                            background: $white-general;
                            color: $dark-green-01;
                        }
                    }
                    &:nth-child(2){
                        .button{
                            background: $dark-green-01;
                            color: $white-general;
                        }
                    }
                }
            }
        }
    }
    .modalDialogOpen{
        left: 100%;
        visibility: visible;
        transform-origin: 100% 0%;
        transform: translate(-100%, 0);
        transition: transform 5s cubic-bezier(0.77,0.2,0.05,1.0);
        overflow: hidden;
    }
    @media screen and (min-width: $ipad) {
        position: absolute;
        top: 40px;
        left: -40px;
        height: auto;
        width: auto;
        background-color: transparent;
        @include flex(column,center,flex-start);
        .modalDialogOpen{
            position: static;
            width: 120px;
            display: block;
            transform-origin: 50% 50%;
            transform: none;
            transition: none;
            height: auto;
        }
        .modalDialog {
            position: static;
            width: 120px;
            display: block;
            transform-origin: 50% 50%;
            transform: none;
            transition: none;
            height: auto;
            background-color: transparent;
            .modalContent {
                position: relative;
                width: 100%;
                padding: 12px 12px;
                background-color: $white-general;
                border-radius: 8px;
                border: 1px solid #E4E9EE;
                background: #FFF;
                max-height: 80vh;
                overflow-y: auto;
                .modalBox{
                    @include flex(column,center,center,12px);
                    .modalTitle {
                        @include flex(column,center,center);
                        width: 90%;
                        img{
                            width: 120px;
                            height: 120px;
                        }
                        h3{
                            padding: 24px 0px 12px 0;
                            @include font(24px);
                        }
                    }
                    .modalButton {
                        width: 100%;
                        .button{
                            height: 48px;
                            width: 100%;
                            border: 1px solid $dark-green-01;
                            border-radius: 8px;
                            cursor: pointer;
                            padding: 11px 10px;
                            text-align: center;
                            @include font(16px);
                        }
                        &:nth-child(1){
                            .button{
                                background: $white-general;
                                color: $dark-green-01;
                            }
                        }
                        &:nth-child(2){
                            .button{
                                background: $dark-green-01;
                                color: $white-general;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: $desktop) {
        top: 52px;
        left: -52px;
        .modalDialogOpen{
            width: 150px;
        }
        .modalDialog{
            width: 150px;
        }
    }
}
