$ipad: 1024px;
$desktop: 1440px;

$container-mobile: 87.2%;
$container-ipad: 85%;
$container-desktop: 83%;



$grey-01: #818B9C;
$grey-03: #C4C8CC;
$d-grey-01: #E4E9EE;
$d-grey-02: #F6F8FA;
$d-grey-03: #F7F7F7;
$l-grey-01: #F1F1F1;
$l-grey-02: #F6F6F6;
$l-grey-03: #F9F9F9;
$white-general: #FFF;
$red-1: #E04124;
$black-01: #0B0F0E;
$dark-green-01: #1E4C2F;
$dark-green-03: #1D9E34;
$orange-3: #FCECE1;